@import "../../../../../scss/variables";
@import "../../../../../scss/mixins";

.img-small {
  width: 60px !important;
  height: 60px !important;
}

.services {
  margin-top: 20px;
  display: flex;
  align-items: center;
  padding-inline: 15px;

  &__item {
    width: calc(100% / 3);
    padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;

    img {
      width: 64px;
      height: 64px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    span {
      margin-top: 15px;
      color: $secondary-color;
      text-align: center;
      line-height: 1;
      font-weight: 600;
      font-family: "Chewy", cursive;
    }
  }
}

@media screen and (min-width: 800px) {
  .services {
    &__item {
      width: 180px !important;
      flex-direction: row;
      justify-content: space-between;

      span {
        margin-top: 0px;

        br {
          display: block;
        }
      }
    }
  }
}

@include breakpoint(tablet) {
  .services {
    justify-content: center;

    &__item {
      width: 140px;
    }
  }
}
