<div class="shop">
  <div class="ranger">
    <div class="ranger-slider">
      <div class="ranger-slider__numberValue">
        <span>From: </span>
        <input type="number" min="0" max="10000" value="2500" disabled />
      </div>
      <div class="progress"></div>
      <input
        type="range"
        class="ranger-slider__min"
        min="0"
        max="10000"
        value="2500"
        disabled
      />
      <input
        type="range"
        class="ranger-slider__max"
        min="0"
        max="10000"
        value="2500"
        disabled
      />
      <div class="ranger-slider__numberValue">
        <span>to: </span>
        <input type="number" min="0" max="10000" value="2500" disabled />
      </div>
    </div>
  </div>
</div>
