.shop {
  font-family: "Poppins";

  &-top {
    padding: 8px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 10px #ddd;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__selection {
      select {
        width: 116px;
        padding: 0 6px 0 7px;
        border-radius: 8px;
        color: #0f1111;
        background: #f0f2f2;
      }

      option {
        padding: 2px 12px 1px 3px;
        line-height: 20px;
        border-color: #d5d9d9;
        background-color: #edfdff;
        border-left-color: #007185 !important;
      }
    }
  }

  &-content {
    padding-top: 14px;
    margin-inline: 4.5px;
    display: flex;
    align-items: flex-start;

    &__left-bar {
      border-right: 2px solid #ddd;
      width: 200px;
      padding-right: 12px;

      // .department {
      //   padding-inline: 4px;

      //   &__title {
      //     margin-bottom: 8px;
      //     font-size: 14px;
      //     font-weight: 700;
      //   }

      //   &__supplies {
      //     .supplies__title {
      //       font-size: 14px;
      //       margin-left: 12px;
      //       margin-bottom: 4px;
      //     }
      //   }
      // }
    }

    &__right-bar {
      width: calc(100% - 200px);
    }
  }
}
