<div class="shop">
  <div class="shop-top">
    <span>1-24 of over 40,000 results</span>
    <div class="shop-top__selection">
      <select>
        <option>Sort by: Featured</option>
        <option>Price: Low to High</option>
        <option>Price: High to Low</option>
        <option>Avg. Customer Review</option>
        <option>Best Sellers</option>
      </select>
    </div>
  </div>
  <section class="shop-content">
    <div class="shop-content__left-bar">
      <app-category></app-category>
    </div>
    <div class="shop-content__right-bar">
      <app-product
        *ngIf="!isLoading; else loading"
        [products]="products"
      ></app-product>
      <ng-template #loading>
        <div class="loading-container">
          <div class="loading-circle"></div>
        </div>
      </ng-template>
      <div
        [style]="isLoading ? 'visibility: hidden; margin-top: 100vh;' : ''"
        class="pagination-wrapper"
      >
        <strong>here</strong>
        <app-pagination
          (onLoadingChanged)="onLoadingChanged($event)"
          [pageNumber]="pageNumber"
          [totalPages]="totalPages"
        ></app-pagination>
      </div>
    </div>
  </section>
</div>
