@import "../../../../../scss/variables";
@import "../../../../../scss/mixins";

.btn-submit {
  padding: 2px 16px;
  border-radius: 25px;
  color: #ffffff;
  background-color: $secondary-color;
  font-family: "Chewy", Sans-serif;
  border: none;
  margin-top: 0.5px;
  width: 100px;
  height: 36px;
  margin-top: 6px;
}

.discount {
  padding-inline: 15px;
  margin-bottom: 80px;
  margin-top: 40px;
  overflow: hidden;

  h2 {
    font-family: "Chewy", Sans-serif;
    font-size: 36px;
    line-height: 1;
    color: $secondary-color;
    padding-inline: 10px;
  }

  &-content {
    display: block;
    padding-inline: 15px;
    border-radius: 50px;
    background-image: url("/assets/images/Sans-titre18-1024x546.png");
    // background-image: url("https://f46-zpg-r.zdn.vn/1665846512990233228/0fcbc5977b68a536fc79.jpg");
    background-size: 900px auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    background-position-x: center;

    &__form {
      padding: 20px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;

      input {
        width: calc(50% - 3px);
        height: 36px;
        padding: 9px 10px;
        font-family: "Chewy", Sans-serif;
        border: none;
        outline: none;
        border-radius: 19px;

        ::placeholder {
          color: #aaaaaa;
        }
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .discount-content {
    background-size: 1100px auto;
  }
}

@include breakpoint(tablet) {
  .discount-content__form {
    width: 50%;

    input {
      width: 40%;
    }

    .btn-submit {
      width: 20%;
    }
  }
}
