<footer class="footer">
  <div class="footer-content">
    <div class="footer-content__item">
      <h6>Popular Searches</h6>
      <ul>
        <li>
          <a routerLink="">cheap cat food</a>
        </li>
        <li>
          <a routerLink="">cheap dog food</a>
        </li>
        <li>
          <a routerLink="">cheap pet supplies</a>
        </li>
        <li>
          <a routerLink="">cheap dog beds</a>
        </li>
        <li>
          <a routerLink="">dog bowls</a>
        </li>
        <li>
          <a routerLink="">dry cat food</a>
        </li>
      </ul>
    </div>
    <div class="footer-content__item">
      <h6>Account</h6>
      <ul>
        <li>
          <a routerLink="/signup">Login</a>
        </li>
        <li>
          <a routerLink="/signin">Register</a>
        </li>
        <li>
          <a routerLink="/forgot-password">Lost Password</a>
        </li>
        <li>
          <a routerLink="/orders">Orders</a>
        </li>
        <li>
          <a routerLink="/track-orders">Track Your Order</a>
        </li>
        <li>
          <a routerLink="/wishlist">Wishlist</a>
        </li>
      </ul>
    </div>
    <div class="footer-content__item">
      <h6>Userful stuff</h6>
      <ul>
        <li>
          <a routerLink="/signup">Terms and Conditions</a>
        </li>
        <li>
          <a routerLink="/signin">Privacy Policy</a>
        </li>
        <li>
          <a routerLink="/forgot-password">Delivery & Retursn</a>
        </li>
        <li>
          <a routerLink="/orders">Cookie Policy (UK)</a>
        </li>
        <li>
          <a routerLink="/track-orders">Reasons To Smile</a>
        </li>
        <li>
          <a routerLink="/wishlist">Contact us</a>
        </li>
      </ul>
    </div>
    <div class="footer-content__item">
      <h6>Newsletter</h6>
      <p class="footer-content__item-discount">
        SAVE 20% on your first online order By joining to our newsletter
      </p>
      <div class="footer-content__payment-method">
        <small>We accept these payment methods:</small>
        <ul>
          <li>
            <img
              width="73"
              height="43"
              lazyLoad="/assets/images/payment/paypal.png"
            />
          </li>
          <li>
            <img
              width="55"
              height="55"
              lazyLoad="/assets/images/payment/visa.png"
              alt="Paypal payment system"
            />
          </li>
          <li>
            <img
              width="71"
              height="50"
              lazyLoad="/assets/images/payment/mc-opt.png"
              alt="Paypal payment system"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
