<div class="pagination">
  <!-- <button (click)="handleClickPagination()">shop now</button> -->
  <div>
    <div class="pagination__prev">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="8"
        height="12"
        fill="#6f7373"
        viewBox="0 0 8 12"
        focusable="false"
        aria-hidden="true"
      >
        <path
          d="M5.874.35a1.28 1.28 0 011.761 0 1.165 1.165 0 010 1.695L3.522 6l4.113 3.955a1.165 1.165 0 010 1.694 1.28 1.28 0 01-1.76 0L0 6 5.874.35z"
        ></path>
      </svg>
      <span>Previous</span>
    </div>
    <div class="pagination__pages">
      <ul>
        <li>
          <a class="link" href="/shop?pageNumber=2&pageSize=12">1</a>
        </li>
        <li>
          <a class="link" href="/shop?pageNumber=2&pageSize=12">2</a>
        </li>
        <li>
          <a class="link" href="/shop?pageNumber=2&pageSize=12">3</a>
        </li>
        <li>
          <a class="link etc" href="/shop?pageNumber=2&pageSize=12">...</a>
        </li>
        <li>
          <a class="link total-pages" href="/shop?pageNumber=2&pageSize=12">{{
            totalPages
          }}</a>
        </li>
      </ul>
    </div>
    <div class="pagination__next">
      <span>Next</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="8"
        height="12"
        fill="#6f7373"
        viewBox="0 0 8 12"
        focusable="false"
        aria-hidden="true"
      >
        <path
          d="M2.126.35a1.28 1.28 0 00-1.761 0 1.165 1.165 0 000 1.695L4.478 6 .365 9.955a1.165 1.165 0 000 1.694 1.28 1.28 0 001.76 0L8 6 2.126.35z"
        ></path>
      </svg>
    </div>
  </div>
</div>
