@import "../../../../../scss/variables";

.pagination {
  margin-top: 20px;
  text-align: center;
  color: $gray-medium-color;
  padding-bottom: 16px;

  .etc,
  .total-pages {
    color: $gray-medium-color;
  }

  .total-pages {
    position: relative;

    &:before {
      content: "";
      top: 0;
      right: 0;
      width: 1px;
      height: 32px;
      transform: translateY(8px);
      background-color: #d5d9d9;
      position: absolute;
    }
  }

  > div {
    display: inline-flex;
    align-items: center;
    height: 48px;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
  }

  &__prev,
  &__next {
    padding-inline: 12px;
    height: 100%;
    display: inline-flex;
    align-items: center;
    gap: 8px;
  }

  &__prev {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  &__next {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  &__pages {
    display: inline-block;
    height: 46px;

    ul {
      list-style-type: none;
      display: flex;
      align-items: center;

      li {
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          padding-inline: 11px;
          width: 48px;
          height: 48px;
        }
      }
    }
  }
}
