<div class="product-details">
  <div class="product-details__back">
    <span class="product-details__back-icon"> ‹ </span>
    <span> Back to results </span>
  </div>
  <div class="product-details-content">
    <!-- <h1 class="product-details-content__title"> -->
    <!--   (Packaging May Vary) Earth Rated Dog Poop Bags, Guaranteed Leak Proof and -->
    <!--   Extra Thick Waste Bag Refill Rolls For Dogs, Lavender Scented, 270 Count -->
    <!-- </h1> -->
    <div>
      <div class="product-details-content__left">
        <img
          src="https://m.media-amazon.com/images/I/71LtXuEA1sL._AC_SX679_.jpg"
        />
      </div>
      <div class="product-details-content__center">
        <h1 class="title">
          (Packaging May Vary) Earth Rated Dog Poop Bags, Guaranteed Leak Proof and
          Extra Thick Waste Bag Refill Rolls For Dogs, Lavender Scented, 270 Count
        </h1>
        <span class="indicator brand">Brand: Earth Rated</span>
        <span class="rating">
          <span class="rating-num-total">4.8</span>
          <i class="icon-stars"></i>
          <i class="icon-popover"></i>
          <span class="indicator rating-count">126,107 ratings</span>
        </span>
        <div class="badge">
          <div class="bestseller-tag">Best seller</div>
          <span>In Pet Supplies</span>
        </div>
        <div class="sep"></div>
        <div class="space"></div>
        <div class="sep"></div>
        <div class="colors">
          <div class="colors__content">
            Color: &nbsp;
            <span #optionColorProduct>Unscented</span>
            <input #inputOptionColorProduct type="hidden" value="" />
          </div>
          <div>
            <div class="colors__img">
              <input type="hidden" value="Blue" />
              <img
                (mouseover)="handleChangeColorProduct($event)"
                src="https://m.media-amazon.com/images/I/41fO+fJi3IL._SS60_.jpg"
              />
            </div>
            <div class="colors__img">
              <input type="hidden" value="Orange" />
              <img
                (mouseover)="handleChangeColorProduct($event)"
                src="https://m.media-amazon.com/images/I/31Ztho-F+KL._SS60_.jpg"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="product-details-content__right">right</div>
    </div>
  </div>
</div>
