<div class="product-details">
  <div class="product-details__back">
    <button (click)="handleGoBackPreviousPage()" class="indicator">
      <span class="product-details__back-icon"> ‹ </span>
      <span> Back to results </span>
    </button>
  </div>
  <div class="product-details-content">
    <!-- <h1 class="product-details-content__title"> -->
    <!--   (Packaging May Vary) Earth Rated Dog Poop Bags, Guaranteed Leak Proof and -->
    <!--   Extra Thick Waste Bag Refill Rolls For Dogs, Lavender Scented, 270 Count -->
    <!-- </h1> -->
    <div>
      <div class="product-details-content__left">
        <!-- src="https://m.media-amazon.com/images/I/71LtXuEA1sL._AC_SX679_.jpg" -->
        <img src="{{ product?.imageUrl }}" />
        <div class="product-images">
          <img src="{{ product?.imageUrl }}" />
          <img src="{{ product?.imageUrl }}" />
        </div>
      </div>
      <div class="product-details-content__center">
        <h1 class="title">
          {{ product?.title }}
          <!-- (Packaging May Vary) Earth Rated Dog Poop Bags, Guaranteed Leak Proof -->
          <!-- and Extra Thick Waste Bag Refill Rolls For Dogs, Lavender Scented, 270 -->
          <!-- Count -->
        </h1>
        <!-- <span class="indicator brand">Brand: Earth Rated</span> -->
        <span class="indicator brand">Brand: {{ brand?.name }}</span>
        <span class="rating">
          <span class="rating-num-total">4.8</span>
          <i class="icon-stars"></i>
          <i class="icon-popover"></i>
          <span class="indicator rating-count">126,107 ratings</span>
        </span>
        <div class="badge">
          <div class="bestseller-tag">Best seller</div>
          <span>In Pet Supplies</span>
        </div>
        <div class="sep"></div>
        <div class="price">
          <span>Price: </span>
          <span class="money">
            <!-- <strong>$20.99</strong> -->
            <strong>
              {{ product?.moneyType === "USD" ? "$" : "" }}{{ product?.price }}
            </strong>
          </span>
        </div>
        <div class="sep"></div>
        <div class="colors">
          <div class="colors__content">
            Color: &nbsp;
            <span #optionColorProduct>Unscented</span>
            <input #inputOptionColorProduct type="hidden" value="" />
          </div>
          <div>
            <div class="colors__img">
              <input type="hidden" value="Blue" />
              <img
                (mouseover)="handleChangeColorProduct($event)"
                src="https://m.media-amazon.com/images/I/41fO+fJi3IL._SS60_.jpg"
              />
            </div>
            <div class="colors__img">
              <input type="hidden" value="Orange" />
              <img
                (mouseover)="handleChangeColorProduct($event)"
                src="https://m.media-amazon.com/images/I/31Ztho-F+KL._SS60_.jpg"
              />
            </div>
          </div>
        </div>
        <div class="sep"></div>
        <div class="colors">
          <div class="colors__content">
            Flavor Name: &nbsp;
            <span #optionFlavorProduct>Beef</span>
            <input #inputOptionFlavorProduct type="hidden" value="Beef" />
          </div>
          <div>
            <div
              (mouseover)="handleChangeFlavorProduct($event)"
              class="colors__img"
            >
              <input type="hidden" value="Beef" />
              <span>Beef</span>
            </div>
            <div
              (mouseover)="handleChangeFlavorProduct($event)"
              class="colors__img"
            >
              <input type="hidden" value="Bacon" />
              <span>Bacon</span>
            </div>
          </div>
        </div>
        <div class="sep"></div>
        <div class="sub-desc">
          <table>
            <tbody>
              <tr>
                <td>Brand</td>
                <!-- <td>Milk-Bone</td> -->
                <td>{{ brand?.name }}</td>
              </tr>
              <!-- <h2>Lenght: {{ foodFlavors.length }}</h2> -->
              <!-- <strong *ngIf="foodFlavors.length === 0">Length is 0</strong> -->
              <tr *ngIf="foodFlavors !== undefined">
                <td>Flavor</td>
                <td *ngFor="let flavor of foodFlavors">
                  <span *ngIf="lastFlavor === flavor.name; else elseBlock"
                    >{{ flavor.name }}.</span
                  >
                  <ng-template #elseBlock>{{ flavor.name }},</ng-template>
                </td>
                <!-- <td>Beef</td> -->
              </tr>
            </tbody>
          </table>
        </div>
        <div class="sep"></div>
        <div class="about-this">
          <h1>About this item</h1>
          <div class="about-this__content">
            <ul>
              <li>
                <span
                  >Contains one (1) 40 ounce package of small dog treats with
                  real bone marrow (packaging may vary)</span
                >
              </li>
              <li>
                The dog biscuit shell encases a real bone marrow center,
                delicious treats that you can feel good about giving
              </li>
              <li>
                Crunchy on the outside and meaty on the inside, our MaroSnacks
                dog snacks are a satisfying combo of texture and mouthwatering
                flavor
              </li>
              <li>Savory treats with calcium, perfect for dogs of all sizes</li>
              <li>
                Baked with love in Buffalo, New York, USA, with colors from
                natural ingredients only
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="product-details-content__right">
        <div>
          <div class="quantity-select">
            <span>Qty:</span>
            <div class="select-wrapper">
              <select id="quantity" name="quantity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>
          </div>
          <br />
          <button class="btn-addtocart">Add to cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
