<div class="product-details">
  <div class="product-details__back">
    <button (click)="handleGoBackPreviousPage()" class="indicator">
      <span class="product-details__back-icon"> ‹ </span>
      <span>Back to results</span>
    </button>
  </div>
  <div class="product-details-content">
    <!-- <h1 class="product-details-content__title"> -->
    <!--   (Packaging May Vary) Earth Rated Dog Poop Bags, Guaranteed Leak Proof and -->
    <!--   Extra Thick Waste Bag Refill Rolls For Dogs, Lavender Scented, 270 Count -->
    <!-- </h1> -->
    <div>
      <div class="product-details-content__left">
        <!-- src="https://m.media-amazon.com/images/I/71LtXuEA1sL._AC_SX679_.jpg" -->
        <img src="{{ product?.imageUrl }}" />
        <div class="product-images">
          <img src="{{ product?.imageUrl }}" />
          <img src="{{ product?.imageUrl }}" />
        </div>
      </div>
      <div class="product-details-content__center">
        <h1 class="title">
          {{ product?.title }}
          <!-- (Packaging May Vary) Earth Rated Dog Poop Bags, Guaranteed Leak Proof -->
          <!-- and Extra Thick Waste Bag Refill Rolls For Dogs, Lavender Scented, 270 -->
          <!-- Count -->
        </h1>
        <!-- <span class="indicator brand">Brand: Earth Rated</span> -->
        <span class="indicator brand">Brand: {{ brand?.name }}</span>
        <span class="rating">
          <span class="rating-num-total">4.8</span>
          <i class="icon-stars"></i>
          <i class="icon-popover"></i>
          <span class="indicator rating-count">126,107 ratings</span>
        </span>
        <div class="badge">
          <div class="bestseller-tag">Best seller</div>
          <span>In Pet Supplies</span>
        </div>
        <div class="sep"></div>
        <div class="price">
          <span>Price: </span>
          <span class="money">
            <!-- <strong>$20.99</strong> -->
            <strong>
              {{ product?.moneyType === "USD" ? "$" : "" }}{{ product?.price }}
            </strong>
          </span>
        </div>
        <div class="sep"></div>
        <div class="colors">
          <div class="colors__content">
            Color: &nbsp;
            <span #optionColorProduct>Unscented</span>
            <input #inputOptionColorProduct type="hidden" value="" />
          </div>
          <div>
            <div class="colors__img">
              <input type="hidden" value="Blue" />
              <img
                (mouseover)="handleChangeColorProduct($event)"
                src="https://m.media-amazon.com/images/I/41fO+fJi3IL._SS60_.jpg"
              />
            </div>
            <div class="colors__img">
              <input type="hidden" value="Orange" />
              <img
                (mouseover)="handleChangeColorProduct($event)"
                src="https://m.media-amazon.com/images/I/31Ztho-F+KL._SS60_.jpg"
              />
            </div>
          </div>
        </div>
        <div class="sep"></div>
        <div class="colors">
          <div class="colors__content">
            Flavor Name: &nbsp;
            <span #optionFlavorProduct>Beef</span>
            <input #inputOptionFlavorProduct type="hidden" value="Beef" />
          </div>
          <div>
            <div
              *ngFor="let flavor of foodFlavors"
              (mouseover)="handleChangeFlavorProduct($event)"
              class="colors__img"
            >
              <input type="hidden" value="Beef" />
              <span>{{ flavor.name }}</span>
            </div>
            <!-- <div -->
            <!--   (mouseover)="handleChangeFlavorProduct($event)" -->
            <!--   class="colors__img" -->
            <!-- > -->
            <!--   <input type="hidden" value="Beef" /> -->
            <!--   <span>Beef</span> -->
            <!-- </div> -->
            <!-- <div -->
            <!--   (mouseover)="handleChangeFlavorProduct($event)" -->
            <!--   class="colors__img" -->
            <!-- > -->
            <!--   <input type="hidden" value="Bacon" /> -->
            <!--   <span>Bacon</span> -->
            <!-- </div> -->
          </div>
        </div>
        <div class="sep"></div>
        <div class="sub-desc">
          <table>
            <tbody>
              <tr>
                <td>Brand</td>
                <!-- <td>Milk-Bone</td> -->
                <td>{{ brand?.name }}</td>
              </tr>
              <tr *ngIf="foodFlavors !== undefined">
                <td>Flavor</td>
                <td *ngFor="let flavor of foodFlavors">
                  <span *ngIf="lastFlavor === flavor.name; else elseBlock">{{
                    flavor.name
                  }}</span>
                  <ng-template #elseBlock>{{ flavor.name }},</ng-template>
                </td>
                <!-- <td>Beef</td> -->
              </tr>
            </tbody>
          </table>
        </div>
        <div class="sep"></div>
        <div class="about-this">
          <h1>About this item</h1>
          <div class="about-this__content">
            <ul>
              <li *ngFor="let paragraph of aboutThisItem">
                {{ paragraph }}
                <!-- Contains one (1) 40 ounce package of small dog treats with -->
                <!-- real bone marrow (packaging may vary)</span -->
              </li>
              <!-- <li> -->
              <!--   The dog biscuit shell encases a real bone marrow center, -->
              <!--   delicious treats that you can feel good about giving -->
              <!-- </li> -->
              <!-- <li> -->
              <!--   Crunchy on the outside and meaty on the inside, our MaroSnacks -->
              <!--   dog snacks are a satisfying combo of texture and mouthwatering -->
              <!--   flavor -->
              <!-- </li> -->
              <!-- <li>Savory treats with calcium, perfect for dogs of all sizes</li> -->
              <!-- <li> -->
              <!--   Baked with love in Buffalo, New York, USA, with colors from -->
              <!--   natural ingredients only -->
              <!-- </li> -->
            </ul>
          </div>
        </div>
      </div>
      <div class="product-details-content__right">
        <div>
          <div class="quantity-select">
            <span>Qty:</span>
            <div class="select-wrapper">
              <select id="quantity" name="quantity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>
          </div>
          <br />
          <button class="btn-addtocart">Add to cart</button>
        </div>
      </div>
    </div>
  </div>
  <div class="reviews">
    <hr />
    <div>
      <div class="reviews__left">
        <div class="content">
          <h2>Customer reviews</h2>
          <div class="rating">
            <i class="starts"></i>
            <span>4.6 out of 5</span>
          </div>
          <div class="global-ratings">
            <span>2,017 global ratings</span>
          </div>
          <table>
            <tbody>
              <tr>
                <td>5 star</td>
                <td>
                  <div class="progress-bar">
                    <div class="progress"></div>
                  </div>
                </td>
                <td>78%</td>
              </tr>
              <tr>
                <td>4 star</td>
                <td>
                  <div class="progress-bar">
                    <div class="progress"></div>
                  </div>
                </td>
                <td>10%</td>
              </tr>
              <tr>
                <td>3 star</td>
                <td>
                  <div class="progress-bar">
                    <div class="progress"></div>
                  </div>
                </td>
                <td>8%</td>
              </tr>
              <tr>
                <td>2 star</td>
                <td>
                  <div class="progress-bar">
                    <div class="progress"></div>
                  </div>
                </td>
                <td>2%</td>
              </tr>
              <tr>
                <td>1 star</td>
                <td>
                  <div class="progress-bar">
                    <div class="progress"></div>
                  </div>
                </td>
                <td>4%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="reviews__right">
        <div class="content">
          <h3>Reviews with images</h3>
          <div class="reviews__with-images">
            <div>
              <img
                src="https://m.media-amazon.com/images/I/612RVTm8WNL._CR0,275,1165,1165_UX175.jpg"
                alt=""
              />
            </div>
            <div>
              <img
                src="https://m.media-amazon.com/images/I/712KIjXpZkL._CR0,32,1382,1382_UX175.jpg"
                alt=""
              />
            </div>
            <div>
              <img
                src="https://m.media-amazon.com/images/I/81yeBZb2rzL._CR0,204,1224,1224_UX175.jpg"
                alt=""
              />
            </div>
            <div>
              <img
                src="https://m.media-amazon.com/images/I/818Ah-aPaAL._CR0,204,1224,1224_UX175.jpg"
                alt=""
              />
            </div>
          </div>
          <span class="images__see-all"> See all customer images </span>
          <div class="top-reviews">
            <h3>Top reviews from the United States</h3>
            <div class="users-reviews">
              <div class="users-reviews__item">
                <div class="profile">
                  <div class="profile-img">
                    <img
                      src="https://images-na.ssl-images-amazon.com/images/S/amazon-avatars-global/default._CR0,0,1024,1024_SX48_.png"
                      alt="Profile"
                    />
                  </div>
                  <div class="profile-name">
                    <span>Weekender</span>
                  </div>
                </div>
                <div class="review-title">
                  <div class="rating">
                    <i></i>
                  </div>
                  <span
                    >Durable and a good buy, but the squeaker died early</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
