@import "../../../../../scss/variables";

.navigation {
  display: flex;
  align-items: center;
  border-top: 1px solid #eaeaea;
  background-color: #ffffff;
  padding-block: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 199;
  position: fixed;

  &__item {
    display: inline-block;
    width: calc(100% / 4);
    height: 35px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: inherit;
  }
}

.item {
  &__icon {
    display: flex;
    align-items: center;
    margin-bottom: 4px; 
    justify-content: center;
    position: relative;
  }

  &__title {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
  }
}

.icon {
  &__item-count {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px;
    width: 18px;
    font-size: 12px;
    font-weight: 700;
    background-color: $blue-hard-color;
    color: #ffffff;
    border-radius: 100rem;
    font-weight: 300;
    top: -6px;
    right: -15px;
    position: absolute;
  }
}
