@import "../../../../../scss/variables";

.pagination {
  margin-top: 20px;
  text-align: center;
  color: $gray-medium-color;
  padding-bottom: 16px;

  .page-active {
    border: 1px solid #000 !important;

    &:hover {
      background: none !important;
    }
  }

  .etc {
    button {
      display: block !important;
      height: 24px !important;
      width: 34px !important;
    }
  }

  .etc,
  .total-pages {
    color: $gray-medium-color;
    pointer-events: none;
  }

  > div {
    display: inline-flex;
    align-items: center;
    height: 48px;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  }

  &__prev {
    position: relative;

    &:before {
      content: "";
      top: 0;
      right: 0;
      width: 1px;
      height: 32px;
      transform: translateY(8px);
      background-color: #d5d9d9;
      position: absolute;
    }
  }

  &__next {
    position: relative;

    &:before {
      content: "";
      top: 0;
      left: 0;
      width: 1px;
      height: 32px;
      transform: translateY(8px);
      background-color: #d5d9d9;
      position: absolute;
    }
  }

  &__prev,
  &__next {
    padding-inline: 12px;
    height: 100%;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    button {
      background-color: transparent;
      border: none;
    }

    &:hover {
      background: red;
      transition: all 0.2s linear;
      background-color: #d5d9d9;
      opacity: 0.7;
    }
  }

  &__prev {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  &__next {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  &__pages {
    display: inline-block;
    height: 46px;

    ul {
      list-style-type: none;
      display: flex;
      align-items: center;

      li {
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          padding-inline: 11px;
          width: 48px;
          height: 48px;
          background-color: transparent;
          border: none;
          transition: all 0.2s linear;

          &:hover {
            background-color: #d5d9d9;
            opacity: 0.7;
          }
        }
      }
    }
  }
}
