<div class="department">
  <span class="department__title">Department</span>
  <div class="department__supplies">
    <div class="supplies__item">
      <span class="supplies__title"><strong>Pet Supplies</strong></span>
      <div class="supplies__item-sub">
        <span>Dog</span>
      </div>
      <div class="supplies__item-sub">
        <span>Cats</span>
      </div>
      <div class="supplies__item-sub">
        <span>Fish & Aquatic Pets</span>
      </div>
      <div class="supplies__item-sub">
        <span>Birds</span>
      </div>
      <div class="supplies__item-sub">
        <span>Horses</span>
      </div>
      <div class="supplies__item-sub">
        <span>Small Animals</span>
      </div>
    </div>
  </div>
  <div class="department__supplies">
    <div class="supplies__item">
      <span class="supplies__title">Featured brands</span>
      <div class="supplies__item-sub">
        <input type="checkbox" />
        <span>Amazon</span>
      </div>
      <div class="supplies__item-sub">
        <input type="checkbox" />
        <span>Earch Rated</span>
      </div>
      <div class="supplies__item-sub">
        <input type="checkbox" />
        <span>Dr. Elsey's</span>
      </div>
      <div class="supplies__item-sub">
        <input type="checkbox" />
        <span>Purila</span>
      </div>
      <div class="supplies__item-sub">
        <input type="checkbox" />
        <span>Fresh Step</span>
      </div>
    </div>
  </div>
  <div class="department__supplies">
    <div class="supplies__item">
      <span class="supplies__title">Price</span>
      <div class="supplies__item-sub">
        <span>Up to $25</span>
      </div>
      <div class="supplies__item-sub">
        <span>$25 to $50</span>
      </div>
      <div class="supplies__item-sub">
        <span>$50 to $100</span>
      </div>
      <div class="supplies__item-sub">
        <span>$100 to $200</span>
      </div>
      <div class="supplies__item-sub">
        <span>$200 & above</span>
      </div>
    </div>
  </div>
</div>
