<div class="product">
  <a routerLink="product_detai/id" class="product-item">
    <div class="product-item__img">
      <img
        src="https://m.media-amazon.com/images/I/81P6Z2vH2-L._AC_UL320_.jpg"
        alt="Product image"
      />
    </div>
    <p class="product-item__desc">
      Seresto Large Dog Vet-Recommended Flea & Tick Treatment & Prevention
      Collar for Dogs Over 18 lbs. | 8 Months
    </p>
    <div class="product-item__rating">
      <i></i>
      <i class="icon-popover"></i>
      <span class="sum-reviews">69,199</span>
    </div>
  </a>
  <a routerLink="product_detai/id" class="product-item">
    <div class="product-item__img">
      <img
        src="https://m.media-amazon.com/images/I/71LtXuEA1sL._AC_UL320_.jpg"
        alt="Product image"
      />
    </div>
    <p class="product-item__desc">
      Seresto Large Dog Vet-Recommended Flea & Tick Treatment & Prevention
      Collar for Dogs Over 18 lbs. | 8 Months
    </p>
    <div class="product-item__rating">
      <i></i>
      <i class="icon-popover"></i>
      <span class="sum-reviews">69,199</span>
    </div>
  </a>
  <a routerLink="product_detai/id" class="product-item">
    <div class="product-item__img">
      <img
        src="https://m.media-amazon.com/images/I/71yvqBnUtKL._AC_UL320_.jpg"
        alt="Product image"
      />
    </div>
    <p class="product-item__desc">
      Seresto Large Dog Vet-Recommended Flea & Tick Treatment & Prevention
      Collar for Dogs Over 18 lbs. | 8 Months
    </p>
    <div class="product-item__rating">
      <i></i>
      <i class="icon-popover"></i>
      <span class="sum-reviews">69,199</span>
    </div>
  </a>
  <a routerLink="product_detai/id" class="product-item">
    <div class="product-item__img">
      <img
        src="https://m.media-amazon.com/images/I/81zoEhDafVL._AC_UL320_.jpg"
        alt="Product image"
      />
    </div>
    <p class="product-item__desc">
      Seresto Large Dog Vet-Recommended Flea & Tick Treatment & Prevention
      Collar for Dogs Over 18 lbs. | 8 Months
    </p>
    <div class="product-item__rating">
      <i></i>
      <i class="icon-popover"></i>
      <span class="sum-reviews">69,199</span>
    </div>
  </a>
</div>
