<main class="home">
  <div>
    <div class="main-content">
      <app-banner></app-banner>
      <app-introduction-service></app-introduction-service>
      <app-discount></app-discount>
      <div class="general-product">
        <div class="general-product__item">
          <img src="/assets/images/dog-essentials.jpg" alt="Dog Essentials" />
          <h6>Dog Essentials</h6>
        </div>
        <div class="general-product__item">
          <img
            lazyLoad="/assets/images/cat-treats-and-toppers.jpg"
            alt="Dog Essentials"
          />
          <h6>Cat Treats & Toppers</h6>
        </div>
        <div class="general-product__item">
          <img lazyLoad="/assets/images/dog-treats.jpg" alt="Dog Essentials" />
          <h6>Dog Treats</h6>
        </div>
        <div class="general-product__item">
          <img src="/assets/images/aquatic-media.jpg" alt="Dog Essentials" />
          <h6>Aquatic Media</h6>
        </div>
      </div>
    </div>
  </div>
  <app-bottom-navigation></app-bottom-navigation>
</main>
