@import "../../../scss/variables";

.isFading {
  background-color: #f3f3f3;
  opacity: 0.1;
  transition: all 0.3s linear;
  position: relative;
}

.btn-signup {
  margin-top: 20px;
  margin-left: 12px;
  height: 28px;
  font-size: 16px;
  padding-block: 1px;
  padding-inline: 6px;
  border-radius: 7px;
  border: 1px solid #d5d9d9;
  background: transparent;
  transition: background-color 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: #e0e0e0;
  }
}

.btn-signin {
  height: 28px;
  font-size: 16px;
  padding-inline: 6px;
  padding-block: 1px;
  border-radius: 5px;
  background-color: $yellow-light-color;
  border: none;
  cursor: pointer;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;

  &:hover {
    background-color: #f0c14b;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}

.btn-checkout {
  width: 100%;
  height: 28px;
  padding-inline: 6px;
  padding-block: 1px;
  border-radius: 5px;
  background-color: $yellow-light-color;
  border: none;
  cursor: pointer;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;

  &:hover {
    background-color: #f0c14b;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}

.sep-vertical {
  display: inline-block;
  margin-inline: 12px;
  height: 14px;
  width: 1px;
  background-color: gray;
}

.row {
  width: 100%;
  height: 24px;
  border-bottom: 1px solid #dddcde;
  display: flex;
  justify-content: flex-end;
}
