<div class="banner">
  <div class="banner__img">
    <div class="banner-content">
      <h2 class="banner-content__title">
        The Most Unique
        <br />
        Pet Gifts
      </h2>
      <h2 class="banner-content__sub-title">
        <br />
        We Have Everything
        <br />
        For Your Pet.
        <br />
        <br />
        Pet Wellness
        <br />
        Pet Accessories
        <br />
        Organic Pet Food
      </h2>
      <button class="btn-shopnow"><a routerLink="shop">SHOP NOW</a></button>
    </div>
  </div>
</div>
