* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body.body-active {
  position: relative;
}

body.body-active::before {
  content: "";
  inset: 0;
  width: 100%;
  height: 100vh;
  background: black;
  opacity: 0.5;
  position: absolute;
}
