$primary-color: #66c1e4;
$secondary-color: #2a4e50;
$bg-blue-color: #e7eff1;
$blue-light-color: #007185;
$blue-thin-color: #35b2b8;
$green-thin-color: #e6f4f4;
$teal-thin-color: #15c1bc;
$orange-light-color: #e77502;
$orange-hard-color: #c45500;
$teal-light-color: #afd9d7;
$blue-hard-color: #1749b0;
$gray-thin-color: #cbcccc;
$gray-medium-color: #6f7373;
$gray-hard-color: #bbbfbf;
$light-red-color: #eb0910;
$hard-red-color: #b12704;
$yellow-light-color: #ffd714;

$bottom-navigation-height: 56px;
