@import "../../../scss/variables";

.checkout-container {
  display: flex;
  align-items: flex-start;
  padding: 14px 18px 18px 18px;
}

.checkout {
  width: calc(100% - 290px);
  padding-right: 24px;
  font-family: Poppins;

  .text-danger {
    display: block;
    font-size: 14px;
    color: $light-red-color;
    margin-top: 4px;
  }

  &__item {
    &:not(:first-child) {
      margin-top: 12px;
    }

    > div:first-child {
      display: flex;
      align-items: center;
    }

    h3 {
      width: 90%;
      color: $orange-hard-color;
      font-size: 20px;
      line-height: 24px;
    }

    .close {
      width: 10%;
      text-align: right;
      color: $blue-light-color;
      cursor: pointer;
    }

    .content {
      margin-top: 12px;
      border-radius: 8px;
      border: 1px solid $gray-thin-color;
      padding-block: 14px;
      padding-inline: 18px;

      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;

        > span {
          font-weight: bold;
          font-size: 18px;
        }
      }

      > a {
        color: $blue-light-color;
      }

      .address {
        display: flex;
        align-items: center;
        margin-top: 8px;
        padding: 9px;
        background-color: #fcf5ee;
        border: 1px solid #fbd8b4;
        border-radius: 5px;

        &__username {
          font-weight: bold;
          padding-left: 4px;
        }

        &__edit {
          margin-left: 4px;
          color: $blue-light-color;
          font-size: 18px;
          border: none;
          background-color: transparent;
          cursor: pointer;
        }
      }

      .new-address {
        padding-top: 9px;
        padding-left: 9px;
        margin-bottom: 32px;

        > a {
          color: $blue-light-color;
          text-decoration: none;
          cursor: pointer;
          padding-left: 4px;

          &:hover {
            text-decoration: underline;
          }
        }

        .card-logo {
          width: 52px;
          height: 18px;
          padding-left: 6px;
          padding-right: 16px;
        }
      }
    }
  }
}

.overlay {
  background-color: black;
  opacity: 0.7;
  background: rgba(0, 0, 0, 0.5);
  inset: 0;
  z-index: 800;
  position: fixed;
}
